html,body{
  font-family:Arial, Helvetica, sans-serif;
}
.container{
  display:flex;
}
#banner{
  justify-content: center;
  align-items: center;
  background-color: lightpink;
  color:black;
}
#banner h1{
  text-shadow: 3px 3px palevioletred;
}
.button{
  background-color: lightpink;
  color:black;
  padding:10px;
  margin:10px;
  text-decoration: none;
  border-radius:4px;
}
#body{
  margin-top:20px;
}
#snapshot{
  flex:1;
  text-align:center;
}
#snapshot img{
  width:90%;
  border-radius:2px;
  box-shadow:10px 10px 10px palevioletred;
}
#description{
  flex:1;
  text-align:center;
  font-size: x-large;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;

}